<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="assets/header.jpg">
  <h1 class="display-5 fw-bold">Find A Ruby On Rails Developer</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3">View More</button>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4">Or Don't</button>
    </div>
  </div>
</div>
